.fourGearMechanics{
    width:100vw;
    max-width:100%;
    height: 100vh;
    background:url(../assets/mechanicspagebg.svg);
    object-fit: cover;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
}
.fourGearMechanics h1{
    font-size: 2.5vw;
    color:#ffffff;
    font-weight: 700;
    text-align: center;
    margin-top:3rem;
}
.fourGearMechanicsContainer{
    width:91.527vw;
    /* height:38.611vh; */
    background-color: #ffffff;
    /* opacity:0.7; */
    border-radius:2.08vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:3rem;
}
.fourGearMechanicsContainer h1{
    font-size: 2.4vw;
    color:#B65E0C;
    text-align: center;
    font-weight: 700;
    opacity: 1;
    margin: 1rem 0;
}
.fourGearMechanicsSubContainer{
    width:85.06vw;
    /* height:18.569vh; */
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4rem 0;
}
.fourGearMechanicsForm{
    display: flex;
    justify-content: space-between;
    margin:0.5rem 0;
}
.fourGearMechanicsSubContainer input{
    width:18.611vw;
    border-radius: 3.6rem;
    background:#F2F2F2;
    height:6.25vh;
    opacity: 1;
    font-size: 1.3rem;
    text-indent: 1.5rem;
    border: none;
}
.fourGearMechanicsSubContainer button{
    font-size:1.2vw;
    border: none;
    padding: 0;
    background-color: #ffffff;
    font-weight: 700;
    color:#B65E0C;
    margin-top:2rem;
}
.mechanicSubmitButton{
    padding:1.5rem 4rem;
    background-color: #B65E0C;
    font-size:1vw;
    border: none;
    border-radius: 1.1rem;
    color:#ffffff;
    margin-top:6rem;
    
}
.exceededMechanicMessage{
    font-size: 1vw;
    color:#B65E0C;
    text-align: center;
    margin:1rem 0;
}
.rxcross2{
    font-size:1.2vw;
    /* padding-left: 0.3rem; */
    color:#B65E0C;
    /* font-weight: 700; */
}
.mechanicsRemoveButton{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left:1.8rem;
}
.fourGearMechanicsDetailsButtons{
    display:flex;
    align-items: center;
    justify-content: center;
}