.notFoundMotomagicians{
    width:90vw;
    height:10vh;
    background-color:#ffffff;
    border-radius:2.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notFoundMotomagicians h2{
    font-size:1.7rem;
}
.notFoundAlert{
    height:3rem;
    width:3rem;
    margin-right: 1rem;
}