.fourGearPartnerOrder {
  /* border: 2px solid red; */
  width: 82.09vw;
  min-height: 90vh;
  background-color:  #EBEBEB;
}
.fourGearPartnerOrderHeader {
  /* height: 10.555vh; */
  /* border: 2px solid blue; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}
.fourGearPartnerOrderDate {
  padding-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fourGearPartnerOrderDate h2 {
  font-size: 1.5vw;
  font-weight: 600;
}
.fourGearPartnerOrderDetails {
  width: 20vw;
  /* border: 2px solid black; */
  text-align: center;
}
.fourGearPartnerOrderDetails h2 {
  font-size: 1.5vw;
  font-weight: 700;
}
.fourGearPartnerOrderDetails h4 {
  font-size: 1.11vw;
}
.fourGearPartnerOrderMenus {
  /* height:50px; */
  width: 100%;
  /* border: 2px solid purple; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.fourGearPartnerOrderMenus a {
  font-size: 1.2vw;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem;
  color: black;
}
.fourGearPartnerOrderMenus a.active,
.fourGearPartnerOrderMenus a:hover {
  color: #b65e0c;
  border-bottom: 2px solid #b65e0c;
}
.fourGearPartnerOrderDetailTable {
  width: 76.944vw;
  /* height: 46.11vh; */
  /* border: 2px solid green; */
  background-color: #ffffff;
  margin:1rem auto;
  border-radius: 1.04vw;
}
.fourGearPartnerOrderDetailTable th{
    padding:1.5rem;
}
.fourGearPartnerOrderDetailTable td{
    font-size:1.25vw;
    font-weight: 500;
    text-align: center;
    padding:1.5rem;
}
.calender{
    height:2.3vw;
    width:2.3vw;
    color:#b65e0c;
    padding-right:0.5rem;
}
.fourGearPartnerOrderTableHeader h2{
    display: flex;
    align-items: center;
    justify-content: center;  
    font-size: 1.2vw;
    font-weight: 600; 
}
.fourGearPartnerOrderTableHeader img{
    padding-right:0.5rem;
}
