.fourGearPartnerSidebarOption{
    margin-top:1rem;
}

.fourGearPartnerSidebarOption a{
    text-decoration: none;
    color:black;
    display: flex;
    align-items: center;
    padding:1rem;
}
.fourGearPartnerSidebarOption h2{
    font-size: 1.2vw;
    font-weight: 500;
}
.fourGearPartnerSidebarOption .partnerClipboard{
    color:black;
    height:2.1rem;
    width:3rem;
}
.fourGearPartnerSidebarOption:hover,.fourGearPartnerSidebarOption .active{
    background-color: #B65E0C;
    border-radius: 0 1vw 1vw 0;
    color:#ffffff !important;
    width:95%;

}
