.fourGearPartnerSidebar{
    width:17.91vw;
    color:#ffffff;
    /* min-height:90vh; */
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
}
.fourGearPartnerSidebar img{
    max-width:9.4375vw;
    height:16.66vh;
    margin:2rem auto;
}
.fourGearPartnerSidebarMenus{
    display:flex;
    flex-direction: column;
}
.partnerClipboard{
    color: black;
    height:2.1rem;
    width:3rem;
}
.fourGearPartnerLogout{
    margin-top:13.888vw;
    
}
.fourGearPartnerLogout h2{
    font-size: 1.2vw;
    font-weight: 500;
}
.fourGearPartnerLogout a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}